<div fxLayout="row wrap">
  <mat-card class="example-card" *ngFor="let quote of quotes"
            fxFlex="1 0 20%"
            fxFlex.lt-md="1 0 30%"
            fxFlex.lt-sm="100%">
    <mat-card-header>
      <!--<div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>{{ quote.character }}</mat-card-title>
      <mat-card-subtitle *ngIf="quote.characterDirection === 'Right'">Pra direita</mat-card-subtitle>
      <mat-card-subtitle *ngIf="quote.characterDirection === 'Left'">Pra esquerda</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="quote.image" alt="{{ quote.character }}" class="character-pic">
    <mat-card-content>
      <cite>
        {{ quote.quote }}
      </cite>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
